<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: headerfiles "></head>

<body>
<div th:replace="/fragments/headerNav :: nav "></div>


<div id="layoutSidenav">
    <div th:replace="/fragments/sideBar :: side_bar"></div>
    <div id="layoutSidenav_content">

        <main>

                <div class="container-fluid">
                    <h1 class="mt-4" th:text="${project.name}"></h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/">myProject</a></li>
                        <li class="breadcrumb-item active">addUsers</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">Tutaj dodasz użytkowników do swojego projektu
                        </div>
                    </div>

                    <div class="card mb-4">
                       <div>Wpisz adres email</div>
                        <form id="myForm" name="myForm" method="post" th:action="@{/addUsersToProject}">
                            <input type="hidden" name="projectId" th:value="${project.id}"><br>
                            <label>
                                <input type="email" name="email" placeholder="email">
                            </label>
                            <button class="btn-dark" type="submit" form="myForm" id="button">
                                Dodaj
                            </button>
                        </form>
                    </div>
                </div>

            <div th:if="${error != null}" class="alert alert-danger" onsubmit="button">
                <strong>Failure!</strong> <a th:text="${error}"></a>
            </div>
            <div th:if="${succes != null}" class="alert-success" onsubmit="button">
                <strong>Succes!</strong> <a th:text="${succes}"></a>
            </div>

        </main>

        <div th:replace="/fragments/footer :: footer"></div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>