<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: headerfiles "></head>

<body>

<div th:replace="/fragments/headerNav :: nav "></div>


<div id="layoutSidenav">
    <div th:replace="/fragments/sideBar :: side_bar"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Tables</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">myProject</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">Tutaj znajdziesz wszystkie swoje projekty <a target="_blank"
                                                                                        href="/newProject">Chcesz dodać
                        nowy?</a>.
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Projects</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Descrpition</th>
                                    <th>Admin</th>
                                    <th>Users</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Descrpition</th>
                                    <th>Admin</th>
                                    <th>Users</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <th:block th:each="project : ${projects}">
                                    <tr>
                                        <td th:text="${project.name}">Name</td>
                                        <td th:text="${project.description}">Descrpition</td>
                                        <td th:tetxt="${project.admin}">Admin</td>
                                        <th><a href="/addUsersToProject">Add User</a></th>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div th:replace="/fragments/footer :: footer"></div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>
