
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.springframework.org/security/tags">
<head th:replace="/fragments/head :: headerfiles "></head>

    <body>

    <div th:replace="/fragments/headerNav :: nav "> </div>



        <div id="layoutSidenav">
            <div th:replace="/fragments/sideBar :: side_bar"></div>
                </main>



            <h1> <span sec:authentication="name"></span> </h1>


            <div style="text-align: center">

            <form class="form-text" method="post" th:action="@{/newProject}">
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">New Project</h1>
                <input type="text"  name="name" class="form-control" placeholder="project name" required="" autofocus="">
                <input type="text"  name="description" class="form-control" placeholder="project description" >
                <button class="button" type="submit">Create</button>
            </form>
            </div>



            </div>

                <div th:replace="/fragments/footer :: footer"> </div>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
