<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: headerfiles "></head>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<link rel="stylesheet" href="/css/sprintStyle.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body>

<div th:replace="/fragments/headerNav :: nav "></div>

<div id="layoutSidenav">
    <div th:replace="/fragments/sideBar :: side_bar"></div>
    <div id="layoutSidenav_content">
        <main>

            <div class="container-fluid">
                <h1 class="mt-4" th:text="${sprint.getName()}"></h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/myProjectList">myProjects</a></li>
                    <li class="breadcrumb-item"><a
                            th:href="@{'/projectPage?projectId=' + ${sprint.getProject().getId()}}"
                            th:text="${sprint.getProject().getName()}"></a>
                    </li>
                    <li class="breadcrumb-item active"><a
                            th:text="${sprint.getName()}"></a></li>
                </ol>


                <div class="wrapper">
                    <div class="table">
                        <div class="table_box" id="ToDo">
                            <div class="table_name">
                                TO DO
                            </div>
                            <div th:each="task: ${tasksList}">
                                <div th:if="${task.getProgres().name().equals('ToDo')}">
                                    <div th:id="${task.getId()}" class="task" draggable="true">
                                        <div class="task-name-checklist">
                                            <span class="task-name" th:text="${task.getName()}"></span>
                                            <div class="badge-div">
                                                <span th:id="${'badge'+task.getId()}" class="badge-task"></span>
                                            </div>
                                            <div class="task-progress-style-inline">
                                                <div th:id="${'taskProgressBar' + task.getId()}">
                                                    <div class="progress" style="width: 5vw">
                                                        <div th:id="${'taskProgressVal'+task.getId()}"
                                                             class="progress-bar"
                                                             role="progressbar"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="div-creator-validity">
                                        <span class="task-creator"
                                              th:text="'Created by ' + ${task.getUser().getEmail()}"></span>
                                            <div class="validity-div">
                                                <span th:id="${'taskValidity' + task.getId()}"
                                                      class="span-validity"></span>
                                                <span th:id="${'taskValidityNumb'+task.getId()}"
                                                      th:text="${task.getTaskValidity()}" hidden></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="buttonToDo" class="button-create">Add task</button>
                    </div>

                    <script>
                        function myFunction(ev) {
                            console.log(ev);
                        }
                    </script>

                    <div class="table">
                        <div class="table_box" id="InProgress">
                            <div class="table_name">
                                IN PROGRESS
                            </div>
                            <div th:each="task: ${tasksList}">
                                <div th:if="${task.getProgres().name().equals('InProgress')}">
                                    <div th:id="${task.getId()}" class="task" draggable="true">
                                        <div class="task-name-checklist">
                                            <span class="task-name" th:text="${task.getName()}"></span>
                                            <div class="badge-div">
                                                <span th:id="${'badge'+task.getId()}" class="badge-task"></span>
                                            </div>
                                            <div class="task-progress-style-inline">
                                                <div th:id="${'taskProgressBar' + task.getId()}">
                                                    <div class="progress" style="width: 5vw">
                                                        <div th:id="${'taskProgressVal'+task.getId()}"
                                                             class="progress-bar"
                                                             role="progressbar"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="div-creator-validity">
                                        <span class="task-creator"
                                              th:text="'Created by ' + ${task.getUser().getEmail()}"></span>
                                            <div class="validity-div">
                                                <span th:id="${'taskValidity' + task.getId()}"
                                                      class="span-validity"></span>
                                                <span th:id="${'taskValidityNumb'+task.getId()}"
                                                      th:text="${task.getTaskValidity()}" hidden></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="buttonInProgress" class="button-create">Add task</button>
                    </div>

                    <div class="table">
                        <div class="table_box" id="Done">
                            <div class="table_name">
                                DONE
                            </div>
                            <div th:each="task: ${tasksList}">
                                <div th:if="${task.getProgres().name().equals('Done')}">
                                    <div th:id="${task.getId()}" class="task" draggable="true">
                                        <div class="task-name-checklist">
                                            <span class="task-name" th:text="${task.getName()}"></span>
                                            <div class="badge-div">
                                                <span th:id="${'badge'+task.getId()}" class="badge-task"></span>
                                            </div>
                                            <div class="task-progress-style-inline">
                                                <div th:id="${'taskProgressBar' + task.getId()}">
                                                    <div class="progress" style="width: 5vw">
                                                        <div th:id="${'taskProgressVal'+task.getId()}"
                                                             class="progress-bar"
                                                             role="progressbar"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="div-creator-validity">
                                        <span class="task-creator"
                                              th:text="'Created by ' + ${task.getUser().getEmail()}"></span>
                                            <div class="validity-div">
                                                <span th:id="${'taskValidity' + task.getId()}"
                                                      class="span-validity"></span>
                                                <span th:id="${'taskValidityNumb'+task.getId()}"
                                                      th:text="${task.getTaskValidity()}" hidden></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="buttonDone" class="button-create">Add task</button>
                    </div>

                </div>

                <div id="newTask" class="window">
                    <div class="window-content">
                        <div class="window-header">
                            <span id="newTaskCloseBtn" class="close">&times;</span>
                            <h2>Create task</h2>
                        </div>
                        <div class="window-body">
                            <div class="window-body-task">
                                <form class="needs-validation" novalidate name="createTaskForm" method="POST"
                                      th:action="@{'/sprint/' + ${sprintId}}">
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label for="taskName">Task name</label>
                                            <input type="text" class="form-control" id="taskName" name="taskName"
                                                   placeholder="Task name" required>
                                            <div class="invalid-feedback">
                                                Set a name of task!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="taskDescription">Task description</label>
                                                <textarea class="form-control" id="taskDescription"
                                                          rows="3" name="taskDescription"></textarea>
                                            </div>
                                            <div class="invalid-feedback">
                                                Set a description of task.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <label class="label">Task validity: </label><br>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="customRadio"
                                                   name="taskValidity" value="1" checked>
                                            <label class="custom-control-label" for="customRadio">Trivial</label>
                                        </div>

                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="customRadio2"
                                                   name="taskValidity" value="2">
                                            <label class="custom-control-label" for="customRadio2">Easy</label>
                                        </div>

                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="customRadio3"
                                                   name="taskValidity" value="3">
                                            <label class="custom-control-label" for="customRadio3">Medium</label>
                                        </div>

                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="customRadio4"
                                                   name="taskValidity" value="4">
                                            <label class="custom-control-label" for="customRadio4">Hard</label>
                                        </div>

                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="customRadio5"
                                                   name="taskValidity" value="5">
                                            <label class="custom-control-label" for="customRadio5">Extra hard</label>
                                        </div>

                                    </div>
                                    <input name="taskProgress" id="taskProgress" type="hidden">
                                    <!--                                <input name="sprintId" id="sprintId" type="hidden" th:value="${sprintId}">-->
                                    <br>
                                    <button id="createTask" class="btn btn-primary btn-primary-style" type="submit">
                                        Create
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="task-property" class="window">
                    <div class="card-detail-window u-clearfix">
                        <div class="window-content">
                            <span id="propCloseBtn" class="close">&times;</span>

                            <div class="window-header">
                                <span class="window-header-icon icon-lg icon-card js-card-header-icon"></span>
                                <div class="window-title">
                                    <h2 class="card-detail-title-assist js-title-helper" dir="auto"></h2>
                                    <textarea id="propTaskName" class="mod-card-back-title js-card-detail-title-input"
                                              dir="auto"
                                              style="overflow: hidden; overflow-wrap: break-word; height: 33px;"></textarea>
                                </div>
                                <div class="window-header-inline-content quiet js-current-list">
                                    <p class="u-inline-block u-bottom">na liście
                                        <a id="propTaskColumnName" href="#" class="js-open-move-from-header"></a>
                                    </p>
                                </div>
                            </div>
                            <div class="w3-cell-row">
                                <div class="w3-container w3-white w3-cell w3-mobile">
                                    <div class="window-body">
                                        <div>
                                            <div class="window-main-col"> <!--Opis-->
                                                <div class="div-padding-content">
                                                    <div class="window-module-title window-module-title-no-divider description-title">
                                                        <span class="icon-description icon-lg window-module-title-icon"></span>
                                                        <h3 class="u-inline-block-description">Opis</h3>
                                                    </div>
                                                    <div class="u-gutter">
                                                        <div class="description-content js-desc-content">
                                                            <div class="current markeddown hide-on-edit js-desc js-show-with-desc hide"
                                                                 dir="auto">
                                                <textarea id="propTaskDescription"
                                                          class="task-description js-get-pups get-pups"
                                                          placeholder="Dodaj bardziej szczegółowy opis…"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="div-padding-content"> <!--Lista zadan-->
                                                    <div class="window-module-title window-module-title-no-divider description-title"><span
                                                            class="icon-description icon-lg window-module-title-icon"></span>
                                                        <h3 class="u-inline-block-description">Lista zadań</h3>
                                                    </div>
                                                    <div id="errandProgressBar" class="task-progress-style" hidden>
                                                        <div class="progress">
                                                            <div id="progressBar" class="progress-bar"
                                                                 role="progressbar"
                                                                 aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="u-gutter">
                                                        <div class="description-content js-desc-content">
                                                            <div class="current markeddown hide-on-edit js-desc js-show-with-desc hide"
                                                                 dir="auto">
                                                                <div id="check-list" class="check-list">
                                                                </div>
                                                                <div id="taskMakingContent" hidden>
                                                                    <div id="propTaskMaking"
                                                                         class="current markeddown hide-on-edit js-desc js-show-with-desc hide task-making-style"
                                                                         dir="auto">
                                                                        <textarea id="propTaskAddingText"
                                                                                  class="task-description js-get-pups get-pups"
                                                                                  placeholder="Wpisz nazwe zadania"></textarea>                                                                        </textarea>
                                                                    </div>
                                                                    <div class="taskMakingButtons">
                                                                        <a id="propBtnCreateAccept"
                                                                           class="button-link js-get-pups get-pups btn-in-content btn-styling"
                                                                           href="#" title="Dodaj zadanie">Create</a>
                                                                        <span id="propTaskMakingCancel"
                                                                              class="material-icons btn-styling btn-icon">cancel</span>
                                                                    </div>
                                                                </div>
                                                                <button id="propBtnCreateTask"
                                                                        class="button-link js-get-pups get-pups btn-in-content"
                                                                        title="Dodaj zadanie">Dodaj zadanie
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w3-container w3-white w3-cell w3-mobile">
                                    <div class="window-sidebar h3-styling">
                                        <div class="window-module suggested-actions-module js-suggested-actions">
                                            <div class="suggested-actions-settings js-suggested-actions-settings"><span
                                                    class="icon-sm icon-gear"></span></div>
                                            <h3 class="mod-no-top-margin">Sugerowane</h3>
                                            <div class="u-clearfix">
                                                <a class="button-link js-join" href="#" title="Dołącz">
                                                    <span class="icon-sm icon-member"></span>
                                                    <span class="js-sidebar-action-text">Dołącz</span></a>
                                            </div>
                                        </div>
                                        <div class="window-module u-clearfix">
                                            <h3 class="mod-no-top-margin js-sidebar-add-heading">Dodaj do karty</h3>
                                            <div class="u-clearfix">
                                                <a class="button-link js-change-card-members" href="#"
                                                   title="Członkowie">
                                                    <span class="icon-sm icon-member"></span>
                                                    <span class="js-sidebar-action-text">Członkowie</span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="js-plugin-buttons">
                                            <div class="window-module u-clearfix">
                                                <h3>Dodatki</h3>
                                                <div class="u-clearfix js-button-list"></div>
                                                <div>
                                                    <a class="button-link js-get-pups get-pups" href="#"
                                                       title="Cos tam">Cos tam</a>
                                                    <div class="js-card-back-pup-prompt"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="window-module u-clearfix">
                                            <h3 class="mod-no-top-margin">Działania</h3>
                                            <div class="u-clearfix">

                                                <a class="button-link js-move-card" href="#" title="Przenieś">
                                                    <span class="icon-sm icon-move"></span>
                                                    <span class="js-sidebar-action-text">Przenieś</span>
                                                </a>

                                                <a class="button-link js-copy-card" href="#" title="Kopiuj">
                                                    <span class="icon-sm icon-copy"></span>
                                                    <span class="js-sidebar-action-text">Kopiuj</span>
                                                </a>
                                            </div>

                                            <a class="button-link js-more-menu" href="#" title="Udostępnij">
                                                <span class="icon-sm icon-share"></span>
                                                <span class="js-sidebar-action-text">Udostępnij</span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </main>
        <div th:replace="/fragments/footer :: footer"></div>

    </div>
</div>

<script th:inline="javascript">
    var tasksList = [[${tasksList}]];
</script>
<script type="text/javascript" th:src="@{/js/sprint.js}"></script>
<script type="text/javascript" th:src="@{/js/sprintTasks.js}"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
</body>

</html>
