<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: headerfiles "></head>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<link rel="stylesheet" href="/css/sprintStyle.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body>

<div th:replace="/fragments/headerNav :: nav "></div>

<div id="layoutSidenav">
    <div th:replace="/fragments/sideBar :: side_bar"></div>
    <div id="layoutSidenav_content">
        <main>

            <div class="container-fluid">
                <h1 class="mt-4" th:text="${sprint.getName()}"></h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/myProjectList">myProjects</a></li>
                    <li class="breadcrumb-item"><a
                            th:href="@{'/projectPage?projectId=' + ${sprint.getProject().getId()}}"
                            th:text="${sprint.getProject().getName()}"></a>
                    </li>
                    <li class="breadcrumb-item active"><a
                            th:text="${sprint.getName()}"></a></li>
                </ol>


                <div class="wrapper">
                    <div class="table">
                        <div class="table_box" id="ToDo">
                            <div class="table_name">
                                TO DO
                            </div>
                            <div th:each="task: ${tasksList}">
                                <div th:if="${task.getProgres().name().equals('ToDo')}">
                                    <div th:id="${task.getId()}" class="task" draggable="true">
                                        <div class="task-name-checklist">
                                            <span class="task-name" th:text="${task.getName()}"></span>
                                            <div class="badge-div">
                                                <span th:id="${'badge'+task.getId()}" class="badge-task"></span>
                                            </div>
                                            <div class="task-progress-style-inline">
                                                <div th:id="${'taskProgressBar' + task.getId()}">
                                                    <div class="progress" style="width: 5vw">
                                                        <div th:id="${'taskProgressVal'+task.getId()}"
                                                             class="progress-bar"
                                                             role="progressbar"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="div-creator-validity">
                                        <span class="task-creator"
                                              th:text="'Created by ' + ${task.getUser().getEmail()}"></span>
                                            <div class="validity-div">
                                                <span th:id="${'taskValidity' + task.getId()}"
                                                      class="span-validity"></span>
                                                <span th:id="${'taskValidityNumb'+task.getId()}"
                                                      th:text="${task.getTaskValidity()}" hidden></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="buttonToDo" class="button-create">Add task</button>
                    </div>

                    <script>
                        function myFunction(ev) {
                            console.log(ev);
                        }
                    </script>

                    <div class="table">
                        <div class="table_box" id="InProgress">
                            <div class="table_name">
                                IN PROGRESS
                            </div>
                            <div th:each="task: ${tasksList}">
                                <div th:if="${task.getProgres().name().equals('InProgress')}">
                                    <div th:id="${task.getId()}" class="task" draggable="true">
                                        <div class="task-name-checklist">
                                            <span class="task-name" th:text="${task.getName()}"></span>
                                            <div class="badge-div">
                                                <span th:id="${'badge'+task.getId()}" class="badge-task"></span>
                                            </div>
                                            <div class="task-progress-style-inline">
                                                <div th:id="${'taskProgressBar' + task.getId()}">
                                                    <div class="progress" style="width: 5vw">
                                                        <div th:id="${'taskProgressVal'+task.getId()}"
                                                             class="progress-bar"
                                                             role="progressbar"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="div-creator-validity">
                                        <span class="task-creator"
                                              th:text="'Created by ' + ${task.getUser().getEmail()}"></span>
                                            <div class="validity-div">
                                                <span th:id="${'taskValidity' + task.getId()}"
                                                      class="span-validity"></span>
                                                <span th:id="${'taskValidityNumb'+task.getId()}"
                                                      th:text="${task.getTaskValidity()}" hidden></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="buttonInProgress" class="button-create">Add task</button>
                    </div>

                    <div class="table">
                        <div class="table_box" id="Done">
                            <div class="table_name">
                                DONE
                            </div>
                            <div th:each="task: ${tasksList}">
                                <div th:if="${task.getProgres().name().equals('Done')}">
                                    <div th:id="${task.getId()}" class="task" draggable="true">
                                        <div class="task-name-checklist">
                                            <span class="task-name" th:text="${task.getName()}"></span>
                                            <div class="badge-div">
                                                <span th:id="${'badge'+task.getId()}" class="badge-task"></span>
                                            </div>
                                            <div class="task-progress-style-inline">
                                                <div th:id="${'taskProgressBar' + task.getId()}">
                                                    <div class="progress" style="width: 5vw">
                                                        <div th:id="${'taskProgressVal'+task.getId()}"
                                                             class="progress-bar"
                                                             role="progressbar"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="div-creator-validity">
                                        <span class="task-creator"
                                              th:text="'Created by ' + ${task.getUser().getEmail()}"></span>
                                            <div class="validity-div">
                                                <span th:id="${'taskValidity' + task.getId()}"
                                                      class="span-validity"></span>
                                                <span th:id="${'taskValidityNumb'+task.getId()}"
                                                      th:text="${task.getTaskValidity()}" hidden></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="buttonDone" class="button-create">Add task</button>
                    </div>
                </div>



                <div th:insert="makingTaskWindow.html"></div>
                <div th:insert="taskPropertyWindow.html"></div>

            </div>

        </main>
        <div th:replace="/fragments/footer :: footer"></div>

    </div>
</div>

<script th:inline="javascript">
    var tasksList = [[${tasksList}]];
</script>
<script type="text/javascript" th:src="@{/js/sprint.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/sprintTasks.js}"></script>-->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
</body>

</html>
